
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_AccessLayout.cshtml";
}

<div id="access-container-body">
    <div class="access-denied-container">
        <h1>Đăng nhập từ chối</h1>
        <p>Bạn không có quyền vào trang này.</p>
        <div class="access-denied-options">
            <a href="javascript:history.back()" class="access-denied-link">Quay về</a>
            <a href="/" class="access-denied-link">Trang chủ</a>
            <a href="/contact" class="access-denied-link">Liên hệ hỗ trợ</a>
        </div>
    </div>
</div>


